<div class="container">

    <div class="navigation">
        <!-- TODO ruta y modificar para enlace activo  -->
        <ul>
            <a href="http://www.sashatran.com/" class="active">Galería</a>
            <a href="#">Drupal</a>
            <a href="https://violetaaa.github.io/CMV-publico/" target="_blank">Ejercicios</a>
            <!-- <a href="https://github.com/Violetaaa" target="_blank">About me</a> -->
        </ul>

    </div>

    <div class="theme-switch" id="theme-switch">
        <div class="switch"></div>
    </div>

    <!-- <button class="btn btn--white" (click)="onToggleMode()">DARK MODE</button> -->

</div>