// background: #ff1847;
@import "../../styles/base";
@import "../../styles/colors";
@import "../../styles/theme";

.container {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.theme-switch {
  margin: 3rem auto;
  background-color: #fff;
  color: #000;

  color: var(--text);
  width: 70px;
  height: 30px;
  background: $highlight;
  border-radius: 50px;
  position: relative;
  cursor: pointer;

  .switch {
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;

    &__clicked {
      transform: translateX(37px);
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  a {
    margin: 1rem 4rem;
    position: relative;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      position: absolute;
      bottom: -2px;
      content: "";
      width: 100%;
      height: 3px;
      background: $highlight;
      transform: translateX(-50%);
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: 0.5s transform ease, 0.6s opacity ease;
        transform: translateX(0);
      }
    }
  }

  .active {
    color: $highlight;
    font-size: 2.6rem;

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

/////////////////////////////////

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 2px;

    border: none;
    cursor: pointer;

    margin-left: 5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &--blue {
    background-color: var(--primary-color1);
    color: var(--text);

    &:hover {
      opacity: 0.9;
    }

    &::after {
      background-color: var(--primary-color1);
    }
  }

  &--white {
    // background-color: var(--button-color);
    // color: var(--button-text);

    background-color: var(--button-white-hover);
    color: var(--dark-grey);
    font-size: 1.4rem;

    &:hover {
      // background-color: var(--button-hover);
      background-color: var(--text);
    }

    &::after {
      background-color: var(--button-white-hover);
    }
  }
}
