<div class="container">

    <div class="navigation">
        <!-- TODO ruta y modificar para enlace activo  -->
        <ul>
            <a href="#" class="active">El Proyecto</a>
            <a href="https://github.com/Violetaaa/Mujeres-que-rompieron-moldes" target="_blank">El código en Github</a>
            <a href="https://github.com/Violetaaa/CMV-publico" target="_blank">Más ejercicios</a>
            <!-- <a href="https://github.com/Violetaaa" target="_blank">About me</a> -->
        </ul>
    </div>

    <div class="theme-switch" (click)="toggleTheme()">
        <div class="switch" [ngStyle]="{'transform': 'translateX(' + translateValue + 'px)'}"></div>
    </div>

    <div>
        <h1>Mujeres que rompieron moldes</h1>
    </div>

</div>