<div class="container">

    <div class="navigation">
        <!-- TODO ruta y modificar para enlace activo  -->
        <ul>
            <a href="#" class="active">Galería</a>
            <a href="https://drive.google.com/file/d/1hjh5cUVFvymDKI7QTHl55NC5z47wy_4W/view?usp=sharing"
                target="_blank">Drupal</a>
            <a href="https://violetaaa.github.io/CMV-publico/" target="_blank">Ejercicios</a>
            <!-- <a href="https://github.com/Violetaaa" target="_blank">About me</a> -->
        </ul>
    </div>

    <div class="theme-switch" (click)="toggleTheme()">
        <div class="switch" [ngStyle]="{'transform': 'translateX(' + translateValue + 'px)'}"></div>
    </div>

    <div>
        <h1>Mujeres que rompieron moldes</h1>
    </div>

</div>