// background: #ff1847;
@import "../../styles/base";
@import "../../styles/colors";
@import "../../styles/theme";

.footer {
  background-color: var(--background-gallery);
  font-size: 1.4rem;
  color: var(--text);
  padding: 2rem 0;

  a {
    text-decoration: none;
    color: var(--text);
  }

  &__social {
    display: flex;
    justify-content: center;
    list-style: none;

    .icon {
      color: var(--background);
    }
  }

  &__icons {
    font-size: 1.7rem;
    padding: 3rem 1rem 2rem 1rem;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 2rem;
  }

  &__author,
  &__emoji {
    text-align: center;
    padding-top: 0.5rem;
    letter-spacing: 2px;
  }
}
