<footer>
    <div class="footer">
        <ul class="footer__social">
            <li class="footer__icons"><a href="https://www.linkedin.com/in/violetaaa/" target="_blank"
                    rel="noopener noreferrer"><span class="fa fa-linkedin"></span></a></li>
            <li class="footer__icons"><a href="https://github.com/violetaaa" target="_blank"
                    rel="noopener noreferrer"><span class="fa fa-github"></span></a></li>
            <li class="footer__icons"><a href="https://codepen.io/" target="_blank" rel="noopener noreferrer"><span
                        class="fa fa-codepen"></span></a></li>
        </ul>
        <div class="footer__text">
            <p class="footer__emoji">Made with ❤️ and <a href="https://www.linkedin.com/in/violetaaa/">Angular 🚀</a>
            </p>
            <p class="footer__author">2021 &nbsp;|&nbsp; <a href="https://www.linkedin.com/in/violetaaa/">Violeta
                    Álvarez
                    Areces</a></p>
        </div>

    </div>
</footer>