// background: #ff1847;
@import "../../styles/base";
@import "../../styles/colors";
@import "../../styles/theme";

.footer {
  background-color: var(--background-gallery);
  font-size: 1.4rem;
  color: var(--text);
  padding: 5rem 0;
  a {
    text-decoration: none;
    color: var(--text);
  }

  &__social {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__icons {
    font-size: 1.7rem;
    padding: 0 2rem;
    transition: transform 0.2s ease-in;

    &:hover {
      border-radius: 50%;
      transform: scale(1.2);
    }
  }

  //   &__text {
  //      display: flex;
  //      justify-content: space-around;
  //   }

  &__author,
  &__emoji {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 2px;
  }
}
