<div class="gallery">
    <app-card *ngFor="let cardItem of cards" [card]="cardItem">
    </app-card>
</div>


<!-- <br /><br />
<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
        </tr>
        <tr *ngFor="let card of xmlItems">
            <td>{{item.nombre}}</td>
            <td>{{item.foto}}</td>
            <td>{{item.pie}}</td>
            <td>{{item.detalle}}</td>
        </tr>
    </table>
</div> -->