.gallery {
  max-width: 140rem;
  margin: 5rem auto;
  background-color: var(--background-gallery);
  border-radius: 0.5rem;
  padding: 9rem 15rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  //   min-height: 80vh;
}
