// uso de: ~ , por ej:
// @import '~sass/variables';

/* You can add global styles to this file, and also import other style files */
.card {
  //la perspectiva del giro se define en el padre del elemento en el que ocurre la transformación
  // border-radius: 50%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; // ACORDARSE! pq hijo es absolute

  width: 300px; //pq redonda
  height: 450px;

  // TODO , REVISAR PROBLEMA CON FLEX SI CHILD TIENE POSITION ABSOLUTE

  // height: 23rem; // darle altura pq colapsa con el absolute del side
  // width: 100%;
  // object-fit: cover;
  // width: 23rem;

  margin: 30px;

  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

  &__side {
    color: #fff;
    font-size: 2rem;
    width: 100%;
    height: 100%;

    transition: all 0.8s ease;

    position: absolute; // front y back van uno encima del otro
    top: 0;
    left: 0;

    backface-visibility: hidden; //backface visibility: maneja si cara posterior visible o no

    //width: 30rem; //para poder verlo mientras, sino 100%

    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    overflow: hidden; //evitar que la imagen superpuesta esconda los bordes redondeados de la tarjeta

    &--front {
      // border-radius: 50%;
      background-color: #fff;
      // border: 10px solid rgba(255, 255, 255, 0.856);
    }

    &--back {
      // border-radius: 50%;
      transform: rotateY(180deg); // el back ya está girado 180 grados

      &-1 {
        // TODO añadir quizá un par de colores más para el back
        background-image: linear-gradient(
          to right bottom,
          var(--secondary-color1),
          var(--secondary-color2)
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          var(--tertiary-color1),
          var(--tertiary-color2)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          var(--cuater-color1),
          var(--cuater-color2)
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          var(--primary-color2),
          var(--primary-color1)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg); // el front es quien gira al hacer el hover
  }

  &:hover &__side--back {
    transform: rotateY(0); // vuelve a cero, posición inicial
  }

  /////////////end flip functionality/////////////

  &__picture {
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    // height: 23rem;

    //    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    //    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    // &--1 {
    //   //background-image: Fondo1, Fondo2;
    //   background-image: url(img1.jpg);
    // }

    // &--1 {
    //   background-image: url(img1.jpg);
    // }

    // &--1 {
    //   background-image: url(img1.jpg);
    // }

    // &--1 {
    //   background-image: url(img1.jpg);
    // }
  }

  // style del front

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__text-box {
    text-align: center;
    color: #fff;
    margin-bottom: 5rem;
    font-weight: 100;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  &__subtitle {
    padding-top: 1.5rem;
    font-size: 1.8rem;
  }
}

//////////////////button

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &--white {
    // background-color: var(--button-color);
    // color: var(--button-text);

    background-color: rgba(255, 255, 255, 0.9);
    color: var(--dark-grey);
    font-size: 1.4rem;

    &:hover {
      // background-color: var(--button-hover);
      background-color: #fff;
    }

    &::after {
      background-color: rgba(255, 255, 255, 0.9);
      // background-color: var(--button-color);
    }
  }

  &--blue {
    background-color: var(--primary-color1);
    color: #fff;

    &:hover {
      opacity: 0.9;
    }

    &::after {
      background-color: var(--primary-color1);
    }
  }
}

/////////////////////////////
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(#000, 0.3);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(#000, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem; //1em = 14px;
    -moz-column-rule: 1px solid var(--light-grey);

    column-count: 2;
    column-gap: 4rem; //1em = 14px;
    column-rule: 1px solid var(--light-grey);

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: var(--dark-grey);
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: var(--primary-color1);
    }
  }
}
