@import "../../../styles/animations";
@import "../../../styles/base";
@import "../../../styles/colors";
@import "../../../styles/theme";

// uso de: ~ , para los @import '~sass/variables';

.container-card {
  padding: 8rem;
  background-color: var(--background-gallery);
  margin: 4rem;
  border-radius: 15px;
}

.card {
  background-color: var(--background-gallery);

  //la perspectiva del giro se define en el padre del elemento en el que ocurre la transformación
  // border-radius: 50%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; // hijo es absolute

  width: 250px; //pq redonda
  height: 375px;

  // TODO REVISAR USO DE FLEX SI CHILD TIENE POSITION ABSOLUTE

  // height: 23rem; // darle altura pq colapsa con el absolute del side
  // width: 100%;
  // object-fit: cover;
  // width: 23rem;

  margin: 2rem;

  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

  &__side {
    color: #fff;
    font-size: 2rem;
    width: 100%;
    height: 100%;

    transition: transform 0.8s ease;

    position: absolute; // front y back van uno encima del otro
    top: 0;
    left: 0;

    backface-visibility: hidden; //backface visibility: maneja si cara posterior visible o no

    //width: 30rem; //para poder verlo mientras, sino 100%

    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    overflow: hidden; //evitar que la imagen superpuesta esconda los bordes redondeados de la tarjeta

    // &--front {
    //   // border-radius: 50%;
    //   // background-color: #fff;
    //   // border: 10px solid rgba(255, 255, 255, 0.856);
    // }

    &--back {
      // border-radius: 50%;
      transform: rotateY(180deg); // el back ya está girado 180 grados

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $secondary-color1,
          $secondary-color2
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $tertiary-color1,
          $tertiary-color2
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $cuater-color1,
          $cuater-color2
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          $primary-color2,
          $primary-color1
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg); // el front es quien gira al hacer el hover
  }

  &:hover &__side--back {
    transform: rotateY(0); // vuelve a cero, posición inicial
  }
  ///////////// end flip functionality /////////////

  &__picture {
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    // height: 23rem;
  }

  // front
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__text-box {
    text-align: center;
    color: #fff;
    margin-bottom: 5rem;
    font-weight: 100;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }

  &__subtitle {
    padding-top: 1.5rem;
    font-size: 1.8rem;
  }
}

////////////////// card button
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.3rem 3rem;
    display: inline-block;
    border-radius: 20rem;
    transition: transform 0.2s;
    position: relative;
    font-size: 1.5rem;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &--white {
    background-color: $button-white-hover;
    color: $dark-grey;
    font-size: 1.4rem;

    &:hover {
      background-color: $button-white;
    }

    &::after {
      background-color: $button-white-hover;
    }
  }

  &--blue {
    background-color: $primary-color1;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }

    &::after {
      background-color: $primary-color1;
    }
  }
}

///////////////////////////// modal
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(#000, 0.3);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(#000, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
    padding: 3rem 5rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  // open modal
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: var(--dark-grey);
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: var(--primary-color1);
    }
  }
}

@media (max-width: 1100px) {
  .popup__content {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .popup__content {
    width: 80%;
  }

  .container-card {
    padding: 4rem;
  }
}

@media (max-width: 450px) {
  .container-card {
    padding: 2rem;
  }
  .popup__content {
    width: 90%;
  }
  .card {
    width: 200px;
    height: 300px;

    &__text-box {
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.4rem;
    }
  }
}
