:root {
  --primary-color1: #5643fa;
  --primary-color2: #2998ff;

  --secondary-color1: #ffb900;
  --secondary-color2: #ff7730;

  --tertiary-color1: #7ed56f;
  --tertiary-color2: #28b485;

  --cuater-color1: #fd42bf;
  --cuater-color2: #a704a7;

  --light-grey: #f7f7f7;
  --dark-grey: #777;

  // background-color: #fefefe;
  // filter: invert(100%);
}

// :root {
//   background-color: #fefefe;
//   filter: invert(100%);
// }

// * {
//   background-color: inherit;
// }

// img:not([src*=".svg"]),
// video,
// .card__picture,
// .card__side--back {
//   filter: invert(100%);
// }

// * {
//   background-color: inherit;
// }

// html[theme="dark-mode"] {
//   filter: invert(1) hue-rotate(180deg);
// }
// html[theme="dark-mode"] img,
// picture,
// video {
//   filter: invert(1) hue-rotate(180deg);
// }
// .invert {
//   filter: invert(1) hue-rotate(180deg);
// }

.light-theme {
  // $background-color-1: #feac5e;
  // $background-color-2: #c779d0;
  // $background-color-3: #4bc0c8;
  --text-color: ;
  --button-color: rgba(255, 255, 255, 0.9);
  --buton-hover: #fff;
  --button-text: #777;
}

.dark-theme {
  --background-color-1: #000000;
  --background-color-2: #00000071;
  --background-color-3: #000000;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // pq 1 rem = 10px (y 10/16 = 62.5)
}

body {
  // min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  // color: ;
  // padding: 3rem;

  // background: linear-gradient(210deg, #bb62ae, #e16f9d, #f7878e, #ffa486, #ffc38b);
  // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  //background: linear-gradient(210deg, #bb3696, #df5184, #f3767a, #fd9d7b, #ffc38b);
  // background: linear-gradient(
  //   to right,
  //   $background-color-1,
  //   $background-color-2,
  //   $background-color-3
  // );
  background-size: cover;
  background-repeat: no-repeat;
}
